---
---

body {
  margin: 1rem;
  background: #e9eaf3;
  counter-reset: section;
}

ul {
  padding-left: 0;
}

h1, h2, h3, h4, h5, h6,li {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

main {
  background: #fff;
  max-width: 60rem;
  margin: 0 auto;
  min-height: 100vh;
}

.content {
  padding: 0 2rem;
}

nav {
  padding: 0.5rem;
  background: #3F51B5;
  a {
    color: #ffffffde;
    text-decoration: none;
  }

  li {
    color: #ffffffde;
    padding: 0.5rem 1rem;
    &:hover {
      background: #2196F3;
    }

  }

  > ul li {
    display: inline;
    position: relative;

    ol li::before {
      padding-right: 0.7rem;
      counter-increment: section;
      content: counter(section);
    }
  }
  .top {
    ol, ul {
      display: none;
      @media (max-width: 400px) {
        width: 100%;
      }
      @media (min-width: 401px) {
        width: inherit;
      }
    }
    &:hover {
      ol, ul {
        display: inline-block;
        position: absolute;
        left: 0;
        background: #3F51B5;
        padding: 0;
        width: 22rem;
        top: 2rem;

        li {
          padding: 0.5rem;
          display: block;
          &:hover {
            background: #2196F3;
          }
        }
      }
    }
  }
}

figure {
  margin: 0 0 2rem;
  max-width: 40rem;
}

img {
  max-width: 100%;
  padding:1px;
  border:1px solid #021a40;
}
