---
layout: default
title: Bloomberg BNA
description: A Website for Bloomberg BNA
link: https://www.bna.com/
imagewidth: 300
imageheigth: 190
keywords: Bloomberg, Bloomberg BNA, Legal documents, business information
---

{% capture words %}
<p>Bloomberg BNA was my first contract position that was related to code. I saw related because I did not actually write code, but was involved in the process of moving the business from one Content Management system to another.</p>
{% endcapture %}

{% include pageintro.html header="My Time at Bloomberg BNA" words=words %}

{% capture lessons %}
<p>The most important lesson I learned in this position was what types of roles there were in web development, and what I wanted for myself. I did not write any code, and reported to a front end developer. He was very skilled at his job, but when there were Software Engineers in the meetings, it was apparent that he only understood a portion of the systems we were using. This contract let me know that what I wanted to be was called a Software Engineer.</p>
{% endcapture %}

{% include lessonslearned.html header="Lessons Learned" text=lessons %}
