---
layout: default
title: Custom Ink
description: A website for Custom Ink
link: https://www.customink.com/
keywords: Custom Ink, Custom T Shirts, Community Apparel, Custom Apparel
imagewidth: 300
imageheigth: 191
---

{% capture words %}
<p>Custom Ink was my workplace for two years, and my time their ended this past Friday. Working there was the best decision I've ever made. I learned so much during my time there and would not take back any of the time I spent on any of the projects. Monday I start a new job as a Software Engineer for a startup in Dupont Circle, called Contactually. I could not have landed such an amazing job without the experiences I picked up at Custom Ink.</p>
{% endcapture %}

{% include pageintro.html header="My Time at Custom Ink" words=words %}

{% capture lessons %}
<p>I learned so many lessons about software development during my time at Custom Ink. I would say the most important thing I took away from that job was the importance of software testing. I enjoy writing tests because it allows me to refactor my code, or rewrite it without changing the functionality, and run my tests to ensure the functionality remained exactly the same.</p>
{% endcapture %}

{% include lessonslearned.html header="Lessons Learned" text=lessons %}
