---
layout: default
title: Eye Bank Association of America
description: A Website for Eye Bank Association of America
link: http://restoresight.org/
keywords: Eye Bank Association of America, Eye Bank, Website, Portfolio
imagewidth: 300
imageheigth: 190
---

{% capture words %}
<p>DivvyCloud was a project I worked on for Top Shelf Design. This project was created using WordPress. I worked with one other developer to create this website. I have not worked on it in a long time so it is barely recognizable to when I did work on it.</p>
{% endcapture %}

{% include pageintro.html header="My Time working on Eye Bank Association of America" words=words %}

{% capture lessons %}
<p>One of the most interesting things I learned on this project was the complexity, and possibilities, of building animations using CSS and JavaScript. I built a complex animation using a JavaScript library called TweenMax that was awesome to work with. This project gave me a new appreciation for other forms of online animation that I saw.</p>
{% endcapture %}

{% include lessonslearned.html header="Lessons Learned" text=lessons %}
