---
layout: default
description: A website for Team America Rocketry Challenge.
title: Team America Rocketry Challenge
link: http://rocketcontest.org/
keywords: Team America Rocketry Challenge, Rockets, Rocketry, TARC
imagewidth: 300
imageheigth: 191
---
{% capture words %}
<p>Team America Rocketry Challenge was the last website I built for Top Shelf Design. By this point I was not only leading projects, but I was leading the most complex projects we had and was even going along to meet the client for the initial project scope meetings. Before this project, I may be the lead on a project, but I wasn't yet trusted to know all of the technical questions that needed answering right up front.</p>
{% endcapture %}

{% include pageintro.html header="My Time working on Team America Rocketry Challenge" words=words %}

{% capture lessons %}
<p>This was a massive project and really felt like a pressure cooker. We had very tight deadlines, a large build, and it was our newest, and largerst, client at the time. This project tought me how to interact with the Google Maps API as well as a bit about how to upsell a client on features they didn't know they wanted.</p>
{% endcapture %}

{% include lessonslearned.html header="Lessons Learned" text=lessons %}
