<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="author" content="{{site.author}}">
    <meta name="robots" content="follow index">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="copyright" content="{{site.author}}">
  </head>
  <body>
    <main>
      {% include header.html -%}
      {% include hero.html -%}
        {{- content -}}
    </main>
  </body>
</html>
